POSTGRES_DB=chronos
POSTGRES_USER=chronos
POSTGRES_PASSWORD=chronos
POSTGRES_PORT=5432

RABBITMQ_USERNAME=chronos
RABBITMQ_PASSWORD=chronos
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_PORT=6379